body  {
    background: url("./assets/images/graph-background.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Arial, Gadget, sans-serif;
    color:#FFFFFF;
    margin: 0px;
    padding: 0px;
}