:host {
    display: flex;
    height: 100%;
    margin-top: -80px;
  }
  
  .register-panel {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 50%;
    width: 33%;
    background-color: black;
    margin: auto;
  }
  
  .register-panel > div {
    display: flex;
  }
  
  .register-panel > div > * {
    margin-left: auto;
    margin-right: auto;
  }
  
  .register-panel > div > input {
    width: 60%;
  }
  
  .register-panel > div > button {
    border: 0px;
    background-color: lightgray;
  }
  
  @media (max-width: 411px) {
    .register-panel {
      width: 100%;
      background-color: transparent;
    }
  
    .register-panel > div > h2 {
      color: black;
    }
  
    .register-panel > div > input {
      width: 60%;
      background-color: black;
      color: white;
    }
  
    .register-panel > div > button {
      border: 0px;
      background-color: black;
      color: white;
    }
  }
  
  @media (max-width: 1024px) {
  
      .register-panel {
          width: 50%;
        }
  
  }
  