nav{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    justify-content: flex-start;
    background-color: #000000;
}




@media (max-width: 768px) { 


    nav div:first-child{
        margin-top: 15px;
        margin-bottom: 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    nav div div{
        margin: 0px;
        flex: 1;
    }

    nav div div:nth-child(2){
        justify-content: center;
        display: flex;
    }

    nav div div:nth-child(3){
        display: flex;
    }

    nav div div:nth-child(3) fa-icon{
        display: flex;
        margin-left: auto;
        margin-right: 15px;
    }

    nav div:not(:first-child){
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15px;
        
    }

}

/*  Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

    nav{
        display: flex;
        flex-direction: row;
        height: 80px;
        justify-content: flex-start;
        background-color: #000000;
    }
    
    nav div{
        margin: 15px;
        margin-top: auto;
        margin-bottom: auto;
    
    }

    nav div:first-child{
        margin-top: 15px;
    }
    
    nav div:nth-last-child(2){
        margin-left: auto;
        margin-right: 15px;
    }
    
    nav div:last-child {
        margin-left: 15px;
        margin-right: 15px;
    }

 }

/*  Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

 }

/*  Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

 }